Importing Required Libraries

In [ ]:
import sqlite3
import pandas as pd

Reading CSV File

In [ ]:
df=pd.read_csv("mid1.csv")

Getting connection to the database

In [ ]:
conn = sqlite3.connect('test_database')
c = conn.cursor()

Creating Table in the DataBase

In [ ]:
c.execute('CREATE TABLE IF NOT EXISTS mid1(Roll No,CS1,DS,DM,PS,Python,Java) ')

Adding a new Column in the table

In [ ]:
c.execute('ALTER TABLE mid1 ADD Total_Marks number(3)')

Getting the view of the table

In [ ]:
c.execute('SELECT * FROM mid1')
for row in c.fetchall():
    print (row)

(13, 13, 14, 17, 18, 20)
(13, 15, 16, 0, 17, 19)
(15, 14, 18, 18, 16, 10)
(16, 9, 19, 16, 9, 20)
(14, 17, 10, 17, 7, 18)
(20, 20, 19, 18, 6, 19)

Calculating the total marks by summing up all the subject's marks

In [ ]:
c.execute('SELECT ( CS1 + DS + DM + PS + Python + Java) AS Total FROM mid1')
for row in c.fetchall():
    print (row)

(95,)
(80,)
(91,)
(89,)
(83,)
(102,)

Now we are finding the person who got the maximum marks

In [ ]:
c.execute('SELECT MAX(CS1 + DS + DM + PS + Python + Java) FROM mid1')
for row in c.fetchall():
    print (row)

(102,)

As we can see from the output the last roll no got the maximum marks